@use '../../styles/placeholders' as *;
@use '../../styles/variables' as *;

.slideshow {
  img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  div{
    width: 100%;
    height: 3vh;
    background-color: $black;
    margin-top: -0.5vw;
  }
}

.negativeMargin{
  margin-bottom: -10vh;
}