@use "../../styles/variables" as *;
.formStyling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.reviewForm {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    padding-right: 0;
    margin-left: 3vw;
  }

  span:nth-child(2) {
    padding-right: 0;
    margin-left: 0vw;
  }

  label {
    margin-right: 0.5vw;
    color: white;
  }

  input:nth-of-type(1) {
    margin-left: 0vw;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }

  textarea {
    width: 20vw;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding: 0.5vw;
  }

  h6 {
    position: absolute;
    right: 0%;
    text-align: right;
  }

  @media screen and (max-width: 1300px) {
    span {
      margin-left: 4vw;
      padding-bottom: 1.5vw;
    }

    span:nth-child(2) {
      margin-left: 0vw;
    }

    label {
      margin-right: 0.5vw;
    }

    input:nth-of-type(1) {
      margin-left: 0vw;
    }

    textarea {
      width: 25vw;
      padding: 0.5vw;
    }

    h6 {
      right: 0%;
    }
  }

  @media screen and (max-width: 1050px) {
    span {
      margin-left: 4.5vw;
      padding-bottom: 2vw;
    }

    span:nth-child(2) {
      margin-left: 0vw;
    }

    label {
      margin-right: 0.5vw;
    }

    input:nth-of-type(1) {
      margin-left: 0vw;
    }

    textarea {
      width: 30vw;
      padding: 0.5vw;
    }

    h6 {
      right: 0%;
    }
  }

  @media screen and (max-width: 768px) {
    span {
      margin-left: 7vw;
      padding-bottom: 2vw;
    }

    span:nth-child(2) {
      margin-left: 0vw;
    }

    label {
      margin-right: 0.5vw;
    }

    input:nth-of-type(1) {
      margin-left: 1vw;
      width: 50vw;
    }

    textarea {
      width: 50vw;
      padding: 0.5vw;
    }

    h6 {
      right: 0%;
      display: none;
    }
  }
}

.reviewButton {
  position: absolute;
  right: -20%;
  bottom: 1vw;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 5px;
  background-color: lightgray;

  @media screen and (max-width: 1300px) {
    bottom: 1.5vw;
  }

  @media screen and (max-width: 1050px) {
    bottom: 2vw;
  }

  @media screen and (max-width: 768px) {
    right: 0;
    bottom: -15%;
    width: 20vw !important;
  }
}

.loginButton {
  padding: 1vw 2vw;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 2vw;
  border: none;

  @media screen and (max-width: 1300px) {
    padding: 1vw 2vw;
  }

  @media screen and (max-width: 1050px) {
    padding: 1vw 3vw;
  }

  @media screen and (max-width: 768px) {
    padding: 2vw 5vw;
  }

  &:hover {
    background-color: $brown;
    transition: all 0.3s ease;
  }
}
