@font-face {
  font-family: "odibee";
  src: url("../../assets/fonts/OdibeeSans-Regular.otf");
}

%odibee {
  font-family: "odibee";
}

%boxshadow {
    -webkit-box-shadow: 0px 10px 19px -8px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 10px 19px -8px rgba(0,0,0,0.32);
    box-shadow: 0px 10px 19px -8px rgba(0,0,0,0.32);
}
