.details {
  background-color: rgba(255, 255, 255, 0.858);
  padding: 2vw;
  margin-top: -14vw;
  position: relative;

  .firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 3vw;
    }

    div:nth-of-type(2) {
      display: flex;
      align-items: center;
      gap: 1vw;

      span {
        background-color: white;
        padding: 1vw;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          font-size: 2.5vw;
          color: rgb(68, 67, 67);

          &:hover {
            color: black;
          }
        }

        img {
          height: 2.5vw;
          filter: brightness(0) saturate(100%) invert(21%) sepia(0%) saturate(90%) hue-rotate(168deg) brightness(101%) contrast(82%);

          &:hover {
            filter: none;
          }
        }
      }
    }

    div:nth-of-type(3) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h3 {
        display: flex;
        align-items: center;
        font-weight: 400;
      }
    }
  }

  .secondRow {
    display: flex;
    justify-content: space-between;
    padding-top: 4vw;

    div {
      display: flex;
      flex-direction: column;
      width: 25%;

      span {
        display: flex;
        justify-content: space-between;
        padding: 0.5vw 0;
      }
    }
  }

  .lastRow {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10vw;
    padding-top: 4vw;

    img {
      width: 100%;
    }

    h3 {
      font-weight: 400;
    }

    article:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: -58vw;

    .firstRow {
      display: grid;
      grid-template-columns: 1fr;
      gap: 4vw;

      b{
        margin-right: 2vw;
      }

      h1 {
        font-size: 6vw;
      }

      div:nth-of-type(2) {
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1vw;

        span {
          padding: 1vw;

          svg {
            font-size: 7vw;
          }

          img {
            height: 7vw;
          }
        }
      }

      div:nth-of-type(3) {
        align-items: flex-start;
      }
    }

    .secondRow {
      display: grid;
      grid-template-columns: 1fr;
      gap: 4vw;
      padding: 4vw 16vw;

      div {
        width: 100%;

        span {
          align-items: center;
          padding: 1vw 0;
          border-bottom: 1px solid grey;
        }
      }
    }

    .lastRow {
      grid-template-columns: 1fr;
      gap: 10vw;

      p {
        font-size: 3.5vw;
      }
    }
  }
}
