.InputStyling {
  flex-direction: row;
  outline: none;
  border: none;
  padding: 1vw;
  position: relative;

  input {
    padding: 0.5vw;
    border-radius: 5px;
    width: 20vw;

    @media screen and (max-width: 1300px) {
      width: 25vw;
    }

    @media screen and (max-width: 1050px) {
      width: 30vw;
    }

    @media screen and (max-width: 768px) {
      width: 50vw;
      padding: 1vw;
    }
  }

  h6 {
    position: absolute;
    bottom: -10%;
    margin-top: 1vw;

    @media screen and (max-width: 768px) {
      bottom: -25%;
    }
  }
}
