.InputStyling {
  flex-direction: row;
  outline: none;
  border: none;
  padding: 1vw;
  position: relative;


  input{
    padding: 0.5vw;
    border-radius: 5px;
    width: 20vw;
  }

  h6{
    position: absolute;
    bottom: -10%;
    margin-top: 1vw;
  }
}
