@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.headerStyling {
  padding: 1vw 8vw;
  display: flex;
  justify-content: space-between;
  background-color: $black;
  position: relative;

  div:nth-of-type(1) {
    @extend %odibee;
    background-color: $brown;
    margin-bottom: -3vw;
    padding: 0.5vw 1vw 0 1vw;
    border: 2px solid black;

    h1 {
      color: $white;
      font-weight: 400;
    }
  }

  div:nth-of-type(2) {
    display: flex;
    justify-content: right;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      background-color: transparent;
      margin-bottom: 0;
      padding-left: 2vw;
      border: none;
      input {
        padding: 0.5vw;
        font-size: 1vw;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid $grey;
      }

      ::placeholder {
        font-size: 1vw;
      }

      span {
        background-color: $brown;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0.65vw;
        cursor: pointer;

        svg {
          color: $white;
          font-size: 1vw;
        }
      }
    }
  }

  @media screen and (max-width: 1300px) {
    padding: 1vw 6vw;

    div:nth-of-type(1) {
      margin-bottom: -3vw;
      padding: 0.5vw 1vw 0 1vw;
    }

    div:nth-of-type(2) {
      div {
        margin-bottom: 0;
        padding-left: 2vw;
        input {
          padding: 0.5vw;
          font-size: 1.2vw;
        }

        ::placeholder {
          font-size: 1.2vw;
        }

        span {
          padding: 0.65vw;

          svg {
            font-size: 1.2vw;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1050px) {
    padding: 1vw 4vw;

    div:nth-of-type(1) {
      margin-bottom: -3vw;
      padding: 0.5vw 1vw 0 1vw;
    }

    div:nth-of-type(2) {
      div {
        margin-bottom: 0;
        padding-left: 2vw;
        input {
          padding: 0.5vw;
          font-size: 1.5vw;
        }

        ::placeholder {
          font-size: 1.5vw;
        }

        span {
          padding: 0.65vw;

          svg {
            font-size: 1.6vw;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 1vw 4vw;

    div:nth-of-type(1) {
      display: none;
    }

    div:nth-of-type(2) {
      display: block;
      margin: auto;

      div{
        display: none;
      }
    }
  }
}
