@use "../../styles/variables" as *;
@use "../../styles/placeholders" as *;

.navStyling {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      @extend %odibee;
      font-size: 1.8vw;
      padding: 0 1vw;

      .activeNavlink {
        color: $brown;
        text-decoration: none;
      }

      .navLink {
        text-decoration: none;
      }

      a {
        color: white;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    ul {
      margin-top: 0.5vw;

      li {
        font-size: 2vw;
        padding: 0 1vw;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    ul {
      margin-top: 0.5vw;

      li {
        font-size: 2.5vw;
        padding: 0 1vw;
      }
    }
  }

  @media screen and (max-width: 768px) {
    ul {
      margin-top: 0.5vw;

      li {
        font-size: 5vw;
        padding: 0 3vw;
      }
    }
  }
}
