@use '../../styles/placeholders' as *;
@use '../../styles/variables' as *;
.footerStyling {
    padding: 2vw 8vw;
    background-color: $black;
    color: white;
    margin-top: 1vw;

    h2{
        @extend %odibee;
        font-size: 3vw;
        font-weight: 400;
    }

    ul{
        margin-top: 0.5vw;

        li{
            list-style: none;
        }
    }
  
    div {
      display: flex;
      justify-content: flex-end;
      gap: 1vw;
      margin-top: 0.5vw;
    }
  
    svg {
      font-size: 2vw; 
    }
  }
  