.column-1 {
  grid-template-columns: 1fr;
}

.column-2 {
  grid-template-columns: 1fr 1fr;
}

.column-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.column-21 {
  grid-template-columns: 2fr 1fr;
}

.column-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.column-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.column-7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.column-8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gap-1 {
  gap: 1vw;
}

.gap-2 {
  gap: 2vw;

  @media screen and (max-width: 1050px) {
    gap: 1vw;
  }
}

.gap-custom {
  gap: 0 3vw;
}

.gridStyling {
  display: grid;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
